telegram {
  startN        = 3
  botToken      = "1234567890:AAAA0A0Aa-AAAAAaaaaaaAaAAAaAa-aaaA0"
  logLevel      = "INFO"
  help_Info_Msg = "I`m super bot"
  repeat_Info_Question = "How many times to repeat message in the future?"
  }
VK {
  startN        = 2
  botToken      = "0a00aa0a000aa0aa000a0a00a00a00aa0aa0a0a0a00a0000a0a00000a00000aa0a000aa0aa0a00aaa"
  logLevel      = "DEBUG"
  help_Info_Msg = "I`m super bot"
  repeat_Info_Question = "How many times to repeat message in the future?"
  group_id      = 123456789
  }
    

